
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body>img{
    width: 100%;
    height: 100%;
    position: fixed;
}
#zhezhao{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    position:fixed;
    top: 0;
    left: 0;
}
#zhuce{
    width: 1.71rem;
    height: 0.61rem;
    border-radius: 0.305rem;
    background: #f1a503;
    color: #fff;
    font-size: 0.32rem;
    text-align: center;
    line-height: 0.61rem;
    position: absolute;
    top: 0.42rem;
    right: 0.45rem;
}
#input{
    width: 5.8rem;
    height: 4.23rem;
    background: #fff;
    border-radius: 0.1rem;
    margin: 0 auto;
    position: absolute;
    top: 3.47rem;
    left: 0;
    right: 0;
    padding: 0.72rem 0 0.44rem 1.05rem;
    display: flex;
    flex-direction: column;
}
.inputCont{
    width: 3.93rem;
    height: 0.5rem;
    margin-bottom: 0.45rem;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.inputCont>img{
    width: 0.5rem;
    height: 100%;
}
.inputNeiR{
    width: 3.07rem;
    height: 0.5rem;
    border-radius: 0.24rem;
    border: 1px solid #f1a503;
    padding-top: 0.03rem;
    position: relative;
}
.inputNeiR>input{
    width: 2.3rem;
    height: 0.4rem;
    border: none;
    font-size: 0.2rem;
    outline: none;
    float: left;
    margin-left: 0.2rem;
}
.dianji {
    width: 3rem;
    height: 0.18rem;
    line-height: 0.18rem;
    font-size: 0.18rem;
    color: rgba(0,0,0,0.6);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0.9rem;
    margin-bottom: 0.35rem;
}
.dianji1{
    width: 1.1rem;
    height: 0.18rem;
}
.dianji1>input {
    width: 0.18rem;
    height: 0.18rem;
}
.dianji2{
    width: 100%;
    height: 0.18rem;
    color: rgba(0,0,0,0.6);
}
.dianji2>i{
    font-size: 0.18rem;
}
#comeIn{
    width: 3.21rem;
    height: 0.62rem;
    background:rgba(0,0,0,0.6);
    margin-left: 0.25rem;
    border-radius: 0.31rem;
    line-height: 0.62rem;
    text-align: center;
    font-size: 0.32rem;
    color: #fff;
}
#disanf{
    width: 2.44rem;
    height: 0.28rem;
    position: absolute;
    bottom: 3.65rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 0.28rem;
    color: #fff;
    line-height: 0.28rem;
}
.tuoyuan{
    width: 0.28rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.tuoyuan>img{
    width: 0.11rem;
    height: 0.11rem;
    margin-top: 0.1rem;
}
#otherWay{
    width: 3.43rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 2.05rem;
    display: flex;
    justify-content: space-between;
}
#otherWay>a>img{
    width: 0.76rem;
    height: 100%;
}